
<div id="index-banner" class="parallax-container"
	ng-controller="HomeController">
	<div class="section no-pad-bot">
		<div class="container">
			<br> <br>
			<h2 class="header center white-text text-lighten-2">Ireland from
				the sky</h2>
			<br> <br>

		</div>
	</div>
	<div class="parallax">
		<img ng-src="images/4.jpg" alt="Unsplashed background img 2">
	</div>
</div>


<div class="container">
	<div class="section">

		<!--   Icon Section   -->
		<div class="row">
			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center brown-text">
						<i class="mdi-image-flash-on"></i>
					</h2>
					<h5 class="center">Aerial Photography</h5>

					<p class="light">We provide stunning aerial shots of any
						location.</p>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center brown-text">
						<i class="mdi-social-group"></i>
					</h2>
					<h5 class="center">Aerial Video</h5>

					<p class="light">High Definition 4K videos professionally
						edited.</p>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center brown-text">
						<i class="mdi-social-group"></i>
					</h2>
					<h5 class="center">Contact Us</h5>

					<p class="light">If you are looking for a simple aerial
						photography or aerial video solution please feel free to contact
						us via e-mail</p>
				</div>
			</div>
		</div>

	</div>
</div>


<div class="parallax-container valign-wrapper">
	<div class="section no-pad-bot">
		<div class="container">
			<div class="row center">
				<h2 class="header col s12 white-text light">A different
					perspective</h2>
			</div>
		</div>
	</div>
	<div class="parallax">
		<img ng-src="images/2.jpg" alt="Unsplashed background img 2">
	</div>
</div>

<div class="container">
	<div class="section">

		<div class="row">
			<div class="col s12 center">
				<h3>
					<i class="mdi-content-send brown-text"></i>
				</h3>
				<h4>Professionally edited photography.</h4>
			</div>
		</div>

	</div>
</div>


<div class="parallax-container valign-wrapper">
	<div class="section no-pad-bot">
		<div class="container">
			<div class="row center">
				<a class="waves-effect waves-light btn modal-trigger" href="#videos">Explore our Showcase</a>
			</div>
		</div>
	</div>
	<div class="parallax">
		<img ng-src="images/5.jpg" alt="Unsplashed background img 3">
	</div>
</div>