<div>
  <md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="one">
        <section class="module parallax parallax-1">
		  <div class="container">
		  </div>
		</section>
      </md-tab>
      <md-tab label="two">
        <section class="module parallax parallax-2">
		  <div class="container">
		  </div>
		</section>
      </md-tab>
      <md-tab label="three">
        <section class="module parallax parallax-3">
		  <div class="container">
		  </div>
		</section>
      </md-tab>
    </md-tabs>
  </md-content>
</div>