<div class="row" ng-controller="PhotosController">
<br></br>
	<div class="row">
		<div class="col s12"></div>
		<div id="all" class="col s12">
			<div class="row galleryContainer">
				<div class="col l4 s4">
					<div class="material-placeholder">
						<img src="images/3.jpg" data-caption="Athlone Regional Sports Centre"
							class="materialboxed responsive-img">
					</div>
				</div>
				<div class="col l4 s4">
					<div class="material-placeholder">
						<img src="images/1.jpg" data-caption="Church at Rock of Dunamase"
							class="materialboxed responsive-img">
					</div>
				</div>
				<div class="col l4 s4">
					<div class="material-placeholder">
						<img src="images/2.jpg" data-caption="Hodson Bay - Athlone"
							class="materialboxed responsive-img">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12"></div>
		<div id="all" class="col s12">
			<div class="row galleryContainer">
				<div class="col l4 s4">
					<div class="material-placeholder">
						<img src="images/4.jpg" data-caption="Hodson Bay Golf Club - Athlone"
							class="materialboxed responsive-img">
					</div>
				</div>
				<div class="col l4 s4">
					<div class="material-placeholder">
						<img src="images/5.jpg" data-caption="Hodson Bay Golf Club - Athlone"
							class="materialboxed responsive-img">
					</div>
				</div>
				<div class="col l4 s4">
					<div class="material-placeholder">
						<img src="images/6.jpg" data-caption="Hodson Bay - Athone"
							class="materialboxed responsive-img">
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="row">
		<div class="col s12"></div>
		<div id="all" class="col s12">
			<div class="row galleryContainer">
				<div class="col l4 s4">
					<div class="material-placeholder">
						<img src="images/7.jpg" data-caption="Athlone GAA Club"
							class="materialboxed responsive-img">
					</div>
				</div>
				<div class="col l4 s4">
					<div class="material-placeholder">
						<img src="images/8.jpg" data-caption="Doon GAA Club"
							class="materialboxed responsive-img">
					</div>
				</div>
				<div class="col l4 s4">
					<div class="material-placeholder">
						<img src="images/9.jpg" data-caption="Rock of Dunamase"
							class="materialboxed responsive-img">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>