<div class="row" ng-controller="PhotosController">
<br></br>
	<div class="row">
		<div class="col s12"></div>
		<div id="all" class="col s12">
			<div class="row galleryContainer">
				<div class="col l4 s4">
					<div class="material-placeholder">
						<img src="images/3.jpg" data-caption="Some demo Text"
							class="materialboxed responsive-img">
					</div>
				</div>
				<div class="col l4 s4">
					<div class="material-placeholder">
						<img src="images/1.jpg" data-caption="Some demo Text"
							class="materialboxed responsive-img">
					</div>
				</div>
				<div class="col l4 s4">
					<div class="material-placeholder">
						<img src="images/2.jpg" data-caption="Some demo Text"
							class="materialboxed responsive-img">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12"></div>
		<div id="all" class="col s12">
			<div class="row galleryContainer">
				<div class="col l4 s4">
					<div class="material-placeholder">
						<img src="images/1.jpg" data-caption="Some demo Text"
							class="materialboxed responsive-img">
					</div>
				</div>
				<div class="col l4 s4">
					<div class="material-placeholder">
						<img src="images/2.jpg" data-caption="Some demo Text"
							class="materialboxed responsive-img">
					</div>
				</div>
				<div class="col l4 s4">
					<div class="material-placeholder">
						<img src="images/3.jpg" data-caption="Some demo Text"
							class="materialboxed responsive-img">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>